# mac
.DS_Store

# windows
Thumbs.db

# emacs
[#]*[#]

# vim
*~
*.sw?

# haskell
*.hi
*.o
.stack-work/
.stack-work/
.hspec-failures
dist-newstyle/
dist/
newdist/
dist-newstyle/
cabal.project.local

# jupyter
*.ipynb_checkpoints

# python
__pycache__

# rocksdb-zkface
*.db

# zk-SNARKs/zksign
*.ekey
*.vkey
*.pf
*.circ
*.sig

*.pdf

# ignore-test-things
tmp.*

# bin
app/nil
